@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c5ebd6;
}

header {
    color: white;
    padding: 50px;
    background-image: linear-gradient(to bottom, #3CD883, #1A5C38);
    text-align: center;
}

h1 {
    padding: 20px;
}

p {
    padding: 10px;
}

nav {
    background-color: #1A5C38;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px;
} 